<%- include('partials/_header.ejs'); %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 m-auto">
          <form action="/login" method="post">
            <h3>Initial Session</h3>
            <div class="mb-3">
              <label for="" class="form-label">Name User</label>
              <input type="text" name="name_user" id="name_user" class="form-control" placeholder="Name User..." required>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Password</label>
              <input type="password" name="pass_user" id="pass_user" class="form-control" placeholder="Password..." required>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-block">Send <i class="bi bi-send-fill"></i></button>
            </div>
          </form>
          <div class="btn-toolbar mt-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button id="change" class="btn btn-light ps-3">View Password <i id="i" class="bi bi-eye-fill"></i></button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
              <a href="/register" class="btn btn-success">Register User <i class="bi bi-person-plus"></i></a>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
              <button id="pass_reset" class="btn btn-link">Reset Pass? <i class="bi bi-check-all"></i></button>
            </div>
          </div>
          <!-- <div class="mb-3 mt-3">
          </div> -->
        </div>
    </div>
</div>
<%- include('partials/_footer.ejs'); %>